.mybooking-container {
  padding: 20px;
}

.mybooking-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mybooking-item {
  display: flex;
  justify-content: space-between; /* Space between details and button */
  align-items: center; /* Align items vertically in the center */
  padding: 10px;
  margin-bottom: 15px;
  border: 5px solid #8b8b90;
  border-radius: 8px;
  background-color: #ffffff;
}

.mybooking-details {
  flex: 1; /* Takes up remaining space */
}

.mybooking-item h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.mybooking-item p {
  margin: 5px 0;
}








